<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MailReader.Properties.Settings.dbConnectionString" connectionString="Language=British;Data Source=.\sqlexpress;Initial Catalog=suzadb;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="FindImages.Properties.Settings.suzadbConnectionString" connectionString="Data Source=SUZA-SERVER;Initial Catalog=suzadb;Integrated Security=True;Current Language=British" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
