<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBUpdateStarter.Properties.Settings.suzadbConnectionString"
            connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=suzadb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>